<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2 style="color:blue; font-size:223px; ">{{value}}</h2>
  <hr>
<div (keydown)="onKey($event)">
  <button (click)="Increment()" (keydown)="onKey($event)" id="Increment" class="Increment btn btn-outline-dark pull-right" style="margin-right:4px;">+</button>
  <button (click)="Decrement()" (keydown)="onKey($event)" id="Decrement" class="Decrement btn btn-outline-dark">-</button>
  <hr>
</div>
  <p *ngIf="MaxReached" class="message lead text-danger">Maximum is reached</p>
  <p *ngIf="MinReached" class="message lead text-danger">Minimum is reached</p>
</div> -->
<app-snake></app-snake>
<router-outlet></router-outlet>
